@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-print {
    @apply print:hidden;
  }
  .print-only {
    @apply hidden print:block;
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  @page {
    margin: 0.5cm;
  }
}